python-dotenv
pandas
numpy
pymongo
setuptools
rapidfuzz
scikit-learn
xgboost
lightgbm
joblib
mlflow
matplotlib
seaborn
streamlit
geopy
psycopg2
geopandas
fastapi
uvicorn
tensorboardX
Pillow
scipy

##-e.